<ion-header class="add-record-header">
  <ion-navbar>

    <button ion-button  clear  (click)="closeModal()">
			<ion-icon name="md-close" ></ion-icon>
    </button>
  
    <ion-title>Agregar campero</ion-title>
    <ion-buttons end>
      <button class="btn-save" ion-button outline  (click)="submit()" form="add-record" id="add-record" color="primary">
			  <span ion-text  >Guardar</span>
       </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content class="add-record-page">
  <form [(formGroup)]="data" #addRecordForm="ngForm" id="add-record">
    <ion-grid>
      <ion-row>
        <ion-col col-2>
          <img class="v-center" [src]="photo" *ngIf="photo" />
          <button class="v-center" *ngIf="!photo" (click)="takePic()" ion-button clear icon-only>
				    <ion-icon name='camera' ></ion-icon>
			    </button>
        </ion-col>
        <ion-col col-10>
          <ion-item>
            <ion-label stacked>Nombre Completo *</ion-label>
            <ion-input text-capitalize formControlName="name" type="text"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-item>
      <ion-label>Género *</ion-label>
      <ion-select formControlName="gender" interface="action-sheet" cancelText="Cancelar">
        <ion-option value="masculino">Masculino</ion-option>
        <ion-option value="femenino">Femenino</ion-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>Fecha de nacimiento *</ion-label>
      <ion-datetime formControlName="birthdate" displayFormat="DD MM YYYY" pickerFormat="DD MM YYYY"></ion-datetime>
    </ion-item>
    <ion-item>
      <ion-label>Talla de playera *</ion-label>
      <ion-select formControlName="shirtSize" submitText="OK" cancelText="Cancelar">
        <ion-option value="XS">XS (extra chica)</ion-option>
        <ion-option value="S">S (chica)</ion-option>
        <ion-option value="M">M (mediana)</ion-option>
        <ion-option value="L">L (grande)</ion-option>
        <ion-option value="XL">XL (extra grande)</ion-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>Iglesia</ion-label>
      <ion-input text-capitalize formControlName="church" type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label stacked>Observaciones</ion-label>
      <ion-textarea text-capitalize formControlName="description"></ion-textarea>
    </ion-item>
    <br>
    <ion-item>
      <ion-title>Datos del padre o tutor</ion-title>
    </ion-item>
    <br>
    <ion-item>
      <ion-label stacked>Nombre Completo *</ion-label>
      <ion-input text-capitalize formControlName="parent" type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label stacked>Telefono *</ion-label>
      <ion-input formControlName="contact" type="number"></ion-input>
    </ion-item>
    <br>
    <ion-item>
      <ion-title>Hermanos</ion-title>
      <button (click)="addBrothers()" ion-button outline item-end icon-left>
        <ion-icon name="add"></ion-icon> Agregar
      </button>
    </ion-item>

    <ion-item-group *ngIf="!brothersListSaved">
      <ion-item>
        <p>No hay hermanos seleccionados</p>
      </ion-item>
    </ion-item-group>


    <ion-item-group *ngIf="brothersListSaved">
      <ion-item *ngFor="let brother of brothersListSaved">
        {{brother}}
        <ion-icon name="checkmark" item-end></ion-icon>
      </ion-item>
    </ion-item-group>

    <br>
    <ion-item>
      <ion-title>Pago</ion-title>
    </ion-item>
    <br>
    <ion-item>
      <ion-label fixed>Pago</ion-label>
      <ion-input class="input-payment" placeholder="" formControlName="payment" type="number" max="{{price}}"></ion-input>
    </ion-item>
  </form>

</ion-content>