<ion-header class="edit-record-header">
  <ion-navbar>
    <button ion-button clear (click)="closeModal()">
			<span ion-text color="light"></span>
			<ion-icon name="md-close" ></ion-icon>
		</button>
    <ion-title>Editar campero</ion-title>
    <ion-buttons end>
      <button class="btn-save" ion-button outline (click)="submit()" form="edit-record" id="edit-record" color="primary" >
        <span ion-text >Editar</span>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding class="edit-record-page">
  <form [(formGroup)]="data" #editRecordForm="ngForm" id="edit-record">
    <div>
      <ion-item>
        <ion-label stacked>Nombre Completo *</ion-label>
        <ion-input text-capitalize formControlName="name" type="text"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Género *</ion-label>
        <ion-select formControlName="gender" interface="action-sheet" cancelText="Cancelar">
          <ion-option value="masculino">Masculino</ion-option>
          <ion-option value="femenino">Femenino</ion-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label>Fecha de nacimiento *</ion-label>
        <ion-datetime formControlName="birthdate" displayFormat="DD/MM/YYYY" pickerFormat="DD/MM/YYYY"></ion-datetime>
      </ion-item>
      <ion-item>
        <ion-label>Talla de playera *</ion-label>
        <ion-select formControlName="shirtSize" submitText="OK" cancelText="Cancelar">
          <ion-option value="XS">XS (extra chica)</ion-option>
          <ion-option value="S">S (chica)</ion-option>
          <ion-option value="M">M (mediana)</ion-option>
          <ion-option value="L">L (grande)</ion-option>
          <ion-option value="XL">XL (extra grande)</ion-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label>Iglesia</ion-label>
        <ion-input text-capitalize formControlName="church" type="text"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label stacked>Observaciones</ion-label>
        <ion-textarea text-capitalize formControlName="description" value="{{record.description}}"></ion-textarea>
      </ion-item>
      <br>
      <ion-item>
        <ion-title>Hermanos</ion-title>
        <button (click)="addBrothers()" ion-button outline item-end icon-left>
        <ion-icon name="add"></ion-icon> Agregar
      </button>
      </ion-item>

      <ion-item-group *ngIf="!brothersListSaved">
        <ion-item>
          <p>No hay hermanos seleccionados</p>
        </ion-item>
      </ion-item-group>


      <ion-item-group *ngIf="brothersListSaved">
        <ion-item *ngFor="let brother of brothersListSaved">
          {{brother}}
          <ion-icon name="checkmark" item-end></ion-icon>
        </ion-item>
      </ion-item-group>
    </div>
  </form>

</ion-content>